.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.form-container form{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
}

.form-container form div{
    margin-top: 10px; 
}

.main-video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    background: black;
    object-fit: cover;
}
.pip-video {
    border: 1px solid #ddd;
    height: 135px;
    background-color: #424242;
    cursor: pointer;
}
.video-pipcontainter {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0px;   
    overflow: auto;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}
.icon {
    width: 30px; 
}
.audio-mute{
    width: 15px;
}
.video-mute {
    width: 25px;
}
.buttons-row {
    position: absolute;
    bottom: 150px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
}
.icon-wrapper {
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;    
}
.icon-wrapper:hover {
    background-color: red;
}

.icon-wrapper.disabled{
    background-color: red;
}

.icon-wrapper.disabled:hover {
    background-color: grey;
}

.end-call-wrapper:hover .white-end-call-icon {
    display: none;
}
.end-call-wrapper:hover .red-end-call-icon {
    display: block;
}
.red-end-call-icon {
    display: none;
}
@media screen and (max-width:768px){
    .pip-video {
        border: 1px solid #ddd;
        height: 100px;
    }
    .video-pipcontainter {
        justify-content: initial;
    }
}

.blur-video-container video{
    object-fit: cover;
    filter: blur(40px);
}

.hidden{
    display: none;
}

.selected{
    border: 5px solid skyblue;
}

.fadeOut{
    opacity: 0;
    transition: all 0.5s;
}

.fadeIn{
    opacity: 1;
    transition: all 1s;
}

.logo{
    z-index: 2;
    position: fixed;
    cursor: pointer;
    padding: 20px;
}

.logo .icon{
    width: 8.88889vw;
}